.wrapper {
    display: flex;
}

.list-container-content-left, .lists-container-content-right {
    width: 50%;
}

.item {
    margin: 20px auto;
    width: 80%;
}

.unanswered, .answered {
    display: flex;
    flex-direction: column-reverse;
}
